# Checkpoints
*.pth
*.pt
checkpoint/

# Logs
*.log
*.tfevents*

# Data
*.tar.gz
*.zip

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Conda
*.egg-info/
dist/
build/

fsfm-3c/finuetune/cross_domain_FAS/results/
